
:global(.ant-spin-spinning) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(./../../../public/logo.jpeg);
    background-size: 100%;
    width: 100px;
    height: 60px;
    background-position-y: -8px;
    cursor: pointer;
}

.icon {
    font-size: 28px;
    color: #3089DC;
}

.user {
    float: right;
    cursor: pointer;
}

.cardDiv {
    text-align: center;
}

a:link {
    color: yellow;
}

a:visited {
    color: red;
}