
.loading {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(./../../images/logo.jpeg);
    background-size: 100%;
    width: 100px;
    height: 60px;
    background-position-y: -8px;
    cursor: pointer;
}

.icon {
    font-size: 28px;
    color: #3089DC;
}

.user {
    float: right;
    cursor: pointer;
}