.body {
    background-color: #fafafa;
}
.ant-layout-header {
    padding: 0px;
    padding-left: 100px;
    height: 48px;
}
.ant-menu-item {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    background-color: #fff;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.infiniteScroll {
    padding-left: 120px;
    position: relative;
}
.loading {
    position: absolute;
    bottom: -40px;
    left: 35%;
}
.right {
    position: fixed;
    top: 90px;
    right: 150px;
    width: 300px;
}
.fastBeat {
    color: #999;
    font-size: 14px;
    line-height: 40px;
}
.ant-avatar-lg {
    width: 50px;
    height: 50px;
}
.recommendedUsers {
    height: 240px;
    overflow-y: auto;
}
.copyRight {
    color: #c7c7c7;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    margin-top: 30px;
}
.icon {
    font-size: 24px;
}