.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(http://47.98.231.165/login.png);
    background-size: cover;
}

.user-div {
    position: relative;
    height: 387px;
    width: 273px;
    background-color: #fff;
}

.name {
    margin-top: 10px;
    font-size: 30px;
    color: #40a9ff;
    display: flex;
    justify-content: center;
}

.footerButton {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: #f6f6f6;
    border-top: 1px solid #ebebeb;
    line-height: 50px;
}
