.content {
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);    
    -moz-transform:translate(-50%,-50%); 
    -webkit-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);*/
    background-color: red;
}
.login-form {
    max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}